
.container {
    width: 100vw;
    height: 100vh;
    background-image: url('./imgslogin/Group\ 4.png');
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}


.heading-data{
    height: 30%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-data h2{
    font-size: 50px;
    font-weight: 100;
    color:white;
}

.form-data {
    height: 70%;
    width: 100%;
    /* background-color: palegreen; */
}
.form-databox  {
    width: 35%;
    height: 75%;
    margin: auto;
   background-color: white;
   border-radius: 20px;
   border: 1px solid gray;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.form-databox-heading{
 height: 20%;
 /* background-color: yellowgreen; */
display: flex;
flex-direction: column;
align-items: center;
}
.form-databox-heading h2{
color:rgb(1,139,237);
}
.form-databox-heading h5{
color:#484f4f;
font-weight: 100;    
}
.form-databox-input{
    padding: 30px;
    height: 80%;
    color:#484f4f;
    font-weight: 300;
    /* background-color: teal; */
}
.username,.password {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 300;
  }
  
  .loginbtn {
    background-color:rgb(1,139,237);
    border-radius: 8px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  .error-class{
    margin-top: -1px;
    font-size: 10px;
    color: rgba(255, 0, 0, 0.669);
  }
@media only screen and (max-width: 990px){ .form-databox {width: 40%;}}
  
@media only screen and (max-width: 768px) {.form-databox {width: 60%;}}

@media only screen and (max-width: 591px) 
{
    .form-databox {width: 60%;}
    .container{background-image:none;background-color: #c3dff4;}
    /* .heading-data{background-color:rgb(1,139,237) ;} */
    .heading-data h2{color: rgb(1,139,237); font-weight: bolder;}
    
}
@media only screen and (max-width: 400px) 
{
    .form-databox {width: 90%;}
    .container{background-image:none ;background-color: #c3dff4;}
    /* .heading-data{background-color:rgb(1,139,237) ;} */
    .heading-data h2{color: rgb(1,139,237); font-weight: bolder;}
    
}